<!DOCTYPE html>
<html>
<head>
     <!--Aluno mudar o título-->
	<title>Minha página da web</title>
</head>

<body>

  </passando a variável na página da web/>

  <!--aluno trocar valor-->
  <h1>Este é o {{ index_variable }}!</h1>

  </Adicionando a imagem à página da web/>

  <!--aluno comentar esse código-->
  <!--<img src="{{url_for('static',filename='1.png')}}">-->

  <!--comentar os paragrafos-->
  <!--<p>Nesta aula, aprenderemos a criar um aplicativo Flask usando modelos.
     Eu usei a função de renderização render_template do módulo Flask</!--<p>-->

  <!--<!>Vamos para a página da web</!--<!>-->

  <!--criar um form-->

  <!--criar um button-->

</!>

</img>



